{{define "content"}}
    <section id="header-intro">
        {{template "nav-header" .}}
    </section>
    <section id="about-us" class="container-fluid section-pad">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-12 col-md-12 col-lg-6 order-md-2 order-lg-1 order-last"><img class="img-fluid" src="/assets/img/featuredimg01.jpg"></div>
                <div class="col col-12 col-md-12 col-lg-6 order-md-1 order-lg-2 order-first">
                    <h1>No REDD in Africa Network</h1>
                    <p class="nran-intro">An African civil society and community-based organizations and individuals opposed to all forms of REDD and REDD-Type projects. NRAN sees REDD as a false climate solution that merely permits polluters to pollute and further harm the climate. We work to defend forest-dependent communities while promoting community-based forest protection. NRAN works with similar networks and groups in other regions of the world.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="recent-news" class="container">
        <h4 class="d-block">News</h4>
        <div class="row">
            {{range .posts}}
                <div class="article-card col col-md-6 col-sm-12 col-12 col-lg-4">
                    <div class="card h-100"><a href="#"><img class="card-img-top" src="public{{ .MainImage.URL "post_preview" }}"></a>
                        <div class="card-body">
                            <a class="card-link" href="/posts/{{ .Slug}}">
                                <h4>{{ .Title }}</h4>
                            </a>
                            <p class="small-text">{{.PublishDate | displayDateString }} - {{.Type}}</p>
                            <p class="card-text">{{.Body | truncateBody 150 | stripSummaryTags}}</p>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </section>
{{end}}